

p.line1{
color: blue;
font-size: 20px;
text-align: center
}

h1{
    
color: red;
background: black
    
}
p.line2{
color: blue;
font-size: 20px;
text-align: center
}
p.line3{
color: blue;
font-size: 20px;
text-align: center
}
p.Objective{
color: darkred;
font-size: 22px;

}
p.Header1{
font-size: 30px;
color: indianred

}

h2{
font-size: 25px;

    
    
    
}
h3, h4, h5{
font-size: 25px;
}

p.work1{
font-size: 22px;
color: purple

}
p.work3{
font-size: 22px;
color: purple;
}
p.work7{
font-size: 22px;
color: purple
    
}
body{
background-image: url(test%205.jpg);
no-repeat center center fixed;


}